doctype html
html(lang='en')
  block head
    include ../partials/_head

  body
    a(href='#main') Skip to main content
    //- include ../partials/_ellipses
    svg(
      class='ellipse blue'
      aria-hidden='true'
      width="206"
      height="190"
      viewBox="0 0 206 190"
      xmlns="http://www.w3.org/2000/svg"
    )
      path(d="M184.095 30.8174C218.024 73.9718 210.536 136.467 167.371 170.404C124.206 204.342 69.897 190.432 35.9681 147.278C2.0391 104.124 -17.6626 61.9055 25.5025 27.9681C68.6676 -5.96927 150.166 -12.3369 184.095 30.8174Z" fill="#2D7CF3")

    svg(
      class='ellipse pink'
      aria-hidden='true'
      width="255"
      height="260"
      viewBox="0 0 255 260"
      xmlns="http://www.w3.org/2000/svg"
    )
      path(d="M251.716 103.415C265.195 174.821 218.222 243.636 146.798 257.118C75.3753 270.6 20.0968 221.087 6.61789 149.681C-6.86098 78.2759 -4.20448 16.6619 67.2188 3.17966C138.642 -10.3026 238.237 32.01 251.716 103.415Z" fill="#FFA9D9")


    .wrapper
      include ../partials/_theme-toggle

      .wrapper__inner
        block nav
          include ../partials/_nav

        main(id='main')
          block main

      include ../partials/_footer

  block scripts
    include ../partials/_js
