- var pageTitle = 'Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

  include partials/_head

  body
    main.home
      header
        p(aria-label='Daniel Dafoe').logo daniel #[br]d#[a(href='defoe-vs-dafoe.pug' aria-label="Dafoe with an 'a'") a]foe

        .home__links
          a(href='./boring.pug') Link Farm
          a(href='./guestbook.pug') Guestbook

      aside.banner
        p This website #[strong doesn't] use cookies, but here's one for you: #[span 🍪]
        button.primary(type='button') Thanks!

      .products
        .product
          h2.product__title Tier 1: #[br]Detailed
          p.product__price FREE
          h3.product__features-title What's included
          ul.product__features
            li Read my 20,000 word memoir
            li Chat for 30 minutes with my parents
            li Review my Grade 3 report card
          a.product__action.link--btn(href='./tier-1.pug') Redeem Tier 1

        .product.product--best
          h2.product__title Tier 2: #[br]Prudent
          span.product__popular Popular choice!
          p.product__price FREE
          h3.product__features-title What's included
          ul.product__features
            li Download my resumé
            li Connect with me on LinkedIn
            li Schedule some time with me
          a.product__action.link--btn(href='./tier-2.pug') Redeem Tier 2

        .product
          h2.product__title Tier 3: #[br]Confident
          p.product__price FREE
          h3.product__features-title What's included
          ul.product__features
            //- li Hit your candidate quota
            li Book me a tour of your company
            li Introduce me to the team
            li Interview me
          a.product__action.link--btn(href='./tier-3.pug') Redeem Tier 3

      footer
        - var today = new Date();
        - var d = today.getDate();
        - var y = today.getFullYear();
        - var h = today.getHours();
        - var m = today.getMinutes();
        p.
          last update: #[date #{ today.getMonth()+1 }-#{ d }-#{ y }] at #[time #{ h }:#{ m }] 

  script(type='text/javascript' src='../js/main.js')
  include partials/_analytics
