//
  =====
  Welcome, visitor. I couldn't help but notice you're inspecting my source code. If you have any questions or want to learn about my process, feel free to fill out the contact form and I will be in touch. Thank you.

  P.S. As this code is all publicly available on my github, feel free to take and modify as you please.
  =====
doctype html
html(lang='en')
  head
    include common/_meta.jade
    meta(name="description" content="Daniel Dafoe is an Inclusive Developer and Creative Writer in Burlington, Ontario.")
    meta(property="og:title" content="A Portfolio of Web, Mobile, Content, and Creative")
    title Daniel Dafoe - Inclusive Developer and Part-Time Human in Burlington, Ontario
    link(rel="favicon" href="favicon.ico")
    link(rel="canonical" href="http://danieldafoe.com")
    link(href="css/vendor/bootstrap.min.css" rel="stylesheet")
    link(href="css/vendor/animate.css" rel="stylesheet")
    link(href="css/vendor/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="css/index.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Playfair+Display|Comfortaa' rel='stylesheet' type='text/css')

  body(ontouchstart='')
    a(href='#about').accessible Skip to Main Content
    nav.out(aria-label='Primary')
      .nav-inner
        a(href="http://danieldafoe.com/blog" tabindex='-1') Blog
        a(href="#skills" tabindex='-1') Skills
        a(href="#projects" tabindex='-1') Experience
        a(href="#contact" tabindex='-1') Contact

    .wrapper.container-fluid(id="top")
      .nav-reveal
        button(type='button' aria-expanded='false' alt='Open main menu') #[i.fa.fa-bars] MENU
      
      .main-container.row(role='banner' aria-label='Menu and page info')
        .logo
          h1 Daniel R. Dafoe
          p Inclusive Developer

        //- .side-notes(role='complementary' aria-label='Side notes')
        //-   .side-note
        //-     h2.side-note__title Emoji #[span.text--italic of the] Month
        //-     p.side-note__emoji  &#x1F32E

        //-   .side-note
        //-     h2.side-note__title Currently Learning 
        //-     p.side-note__text Angular 2.1

      section.section--social-bar
        .top-social
            a(id="linkedin-link" target="_blank" title='LinkedIn' href="http://ca.linkedin.com/in/danieldafoe").link--plain #[i.fa.fa-linkedin.fa-5x] #[span.accessible LinkedIn profile]
            a(id="twitter-link" target="_blank" title='Twitter' href="http://twitter.com/danieldafoe").link--plain #[i.fa.fa-twitter.fa-5x] #[span.accessible Twitter profile]
            a(id="github-link" target="_blank" title='Github' href="https://github.com/danieldafoe").link--plain #[i.fa.fa-github.fa-5x] #[span.accessible Github profile]
            a(id="codepen-link" target="_blank" title='Codepen' href="https://codepen.io/danieldafoe").link--plain #[i.fa.fa-codepen.fa-5x] #[span.accessible Codepen profile]

      main#about.section--about(aria-label='Introductory content')
        .container-fluid
            .row
              .col-xs-12.col-sm-6
                .about-inner
                  h3 Introduction
                  p.
                    I'm Daniel Dafoe. I'm honest, enthusiastic, optimistic, hard-working, and quick-witted.
                    Adjectives aside, what you'll first notice about me is that my ears perk up when I discuss web development, usability, and the English language&mdash;and even higher if there's pizza involved.
                  p.
                    On the internet you will find #[a(href="http://medium.com/@danieldafoe") write stories], #[a(href="http://github.com/danieldafoe" target="_blank") contribute to open source], and make some money #[a(href="http://www.redbubble.com/people/danieldafoe/works/9557864-hello-my-name-is-or-1-1?p=sticker" target="_blank") selling stickers and clothing] I design.
                              
              .col-xs-12.col-sm-6
                .about-inner.about-inner--middle
                  //- h3 Where I've Been
                  //- p.
                  //-   From Canada's largest bank to small marketing companies, I've been a part of a radically diverse set of teams, each contributing to a well-rounded perspective of designing and developing web experiences that meet business goals and objectives.#[br]#[br]
                  //-   Furthermore, with education in Advertising and Systems Analysis, I've been exposed to a fantastic array of disciplines: creative copywriting, software development, business analysis, interactive user interface design, and much more.
                  h3 Work Ethic
                  p.
                    I don't run on AA batteries. Instead, I'm the kind of developer that runs on lithium ion #[em rechargeable] batteries. This kind of upgrade means that I can work harder and longer than alkaline-based developers, and, at times, only require a quick recharge 
                    (#[span.emoji &#x1F355]) before finishing an arduous task.

            .row
              .col-xs-12.col-sm-6.col-sm-push-3
                .about-inner.about-inner--bottom
                  h3 Human Stuff
                  p.
                    When I'm not manipulating pixels on a screen, I enjoy doing more humanlike activities. I love to read classic literature pre 1900s, write short stories, watch plays and musicals, and work
                    on my personal fitness.
                  p.
                    Oh! I'm also a self-described grammar evangelist.

                  //- p.
                  //-   My passion is building aesthetically pleasing and intuitive experiences for users of the world wide web. I'm constantly absorbed by the possibilities on the web, and I'm always keen on trying out the latest frameworks.
                  //-   #[br]#[br]
                  //-   When I'm not reading about web design or mobile trends, you can find me reading literature
                  //-   pre 1900s, writing short stories, watching a play, or working on my personal fitness.

      include parts/_skills

      //- include parts/_projects

      section.section--contact(id="contact" aria-label='Contact information')
        .section-title
          h2 Contact
        
        .section-footer
          .footer-text
            p.
              I'm available for freelance work as a developer or writer. Or, if you're looking for a front-end developer to help you code an open source project, I'd love to hear about that too. Besides, what would the web be without open source?

            p.
              Please feel free to contact me for any opportunities. Oh, but don't use this contact form--it's just for show.

            //- .footer_social
            //-   a#linkedin-link(target="_blank" href="http://ca.linkedin.com/in/danieldafoe" aria-labelledby='icon-label-linkedin-2').link--plain #[i.fa.fa-4x.fa-linkedin] #[span.accessible(id='icon-label-linkedin-2') LinkedIn profile]
      
            //-   a#twitter-link(target="_blank" href="http://twitter.com/danieldafoe" aria-labelledby='icon-label-twitter-2').link--plain #[i.fa.fa-4x.fa-twitter] #[span.accessible(id='icon-label-twitter-2') Twitter profile]
            
            //-   a#github-link(target="_blank" href="https://github.com/danieldafoe" aria-labelledby='icon-label-github-2').link--plain #[i.fa.fa-4x.fa-github] #[span.accessible(id='icon-label-github-2') Github profile]
            
            //-   a#medium-link(target="_blank" href="https://medium.com/@danieldafoe" aria-labelledby='icon-label-medium-2').link--plain #[i.fa.fa-4x.fa-medium] #[span.accessible(id='icon-label-medium-2') Medium profile]
        
          form#form-contact(action="php/send_mail.php" method="post" role='form')
            .container
              .row
                .col-xs-12
                    label(for="email") Email
                    input.form-control(type="email" id="email" name="email")
                
                .col-xs-12
                    label(for="msg") Message
                    textarea.form-control(type="text" id="msg" name="msg")
                  
                .col-xs-12
                    button.btn.btn-lg.btn-default(
                      form="form-contact"
                      type="button"
                      value="Submit"
                      name="submit"
                      title='Submit contact form')
                      | #[span#btn-submit-name Contact]
                      | #[span #[i.fa.fa-cog.fa-spin]]
                      | #[span #[i.fa.fa-remove]]
                      | #[span #[i.fa.fa-check]]
    
      section#colophon.social
          p.
            #[span.emoji &#x1F52E] Imagined by #[a(href='').link--plain Daniel Dafoe]

    include common/_scripts.jade